{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-vue"
  ],
  "pluginSearchDirs": ["."],
  "overrides": [
    { 
      "files": "*.vue",
      "options": { 
        "parser": "vue" 
      } 
    }
  ],
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "singleAttributePerLine": false
}
